body {
    margin: 0px;
    padding: 0px;
    background-color: #121313;

}
a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/background.png);
    overflow: auto;
    margin: 0; 
    padding: 0; 
    position: relative; 
}


.menu_main_container {
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
}

.menu_main {
    padding-top: 80px;   
}

.menu_main span {
    color: #4993FF;
}
.form_container span {
    color: #4993FF;
}
.menu_main p {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-family: "montserrat";
}


.main_form_container {
    max-width: 450px;
    margin: auto;
    padding: 0 15px;
    display: block;
}

.main_form_container button {
    width: 100%;
    height: 90.54px;
    font-size: 30px;
    border-radius: 34.78px;
    color: #1F7AFF;
    font-family: Montserrat;
    margin-top: 41px;
    cursor: pointer;
    font-weight: 500;

    border: 4.35px solid #1F7AFF;
    background-color: inherit;

    transition: background-color 0.3s ease , color 0.3s ease;

}

.main_form_container button:hover {
    background-color: #1F7AFF;
    color: #fff;
}

.form_container {
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
}

.form_box {
    width: 100%;
    border-radius: 31.94px;
    border: 4px solid #1F7AFF;
    background-color: #2929294D;
}

.form_input , .form_button  {
    padding-left: 44px;
    padding-right: 44px;
}

.form_input input {
    width: 90%;
    font-family: Montserrat;
    font-size: 18.37px;
    padding-left: 30px;
    height: 56.03px;
    border-radius: 19.29px;
    background-color: #323232;
    border: 1px solid #323232;
    color: #fff;

}

.form_input input:focus {
    outline: none;
    
}

.form_input p {
    font-size: 22.96px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
}

.form_button button {
    width: 99%;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #1F7AFF;
    height: 56.03px;
    border-radius: 19.29px;
    color: #fff;
    font-size: 18.37px;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 500;
    border: 1px solid #1F7AFF;

    transition: background-color 0.3s ease;
}
.form_button button:hover {
    background-color: inherit;
}


/*  */

.menu_container {
    max-width: 300px;
    margin: auto;
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 0 15px;
    display: block;
}

.menu_box {
    width: 100%;
    border: 2px solid #1F7AFF;
    background-color: #2929294D;
    border-radius: 20px;
    display: block;
}

.menu_box button {
    width: 100%;
    border-radius: 17px;
    background-color: inherit;
    height: 46.96px;
    color: #1F7AFF;
    font-family: Montserrat;
    font-weight: 500;
    
    cursor: pointer;
}
.menu_button {
    border: 2px;
    margin-top: 5px;
}
.menu_button:hover {
    border: 2px solid #1F7AFF;
}
.menu_button_col {
    border: 2px solid #1F7AFF;
}


.main_paragraph {
    max-width: 848px;
    margin: auto;
    text-align: center;
}

.main_paragraph p {
    font-weight: 600;
    margin-top: 100px;
    line-height: 48.76px;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Montserrat;
}

.main_service_container {
    max-width: 1300px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_service_box {
    margin-top: 30px;
}

.main_service_box button {
    width: 400px;
    height: 77.37px;
    font-size: 29.09px;
    font-family: montserrat;
    border-radius: 28.46px;
    background-color: #2929294D;
    cursor: pointer;
}

.main_service_button_left {
    border: 3.56px solid #5BD421;
    color: #5BD421;

    transition: background-color 0.3s ease , color 0.3s ease;
}

.main_service_button_left:hover {
    background-color: #5BD421;
    color: #fff;
}

.main_service_button_center {
    border: 3.56px solid #B060FF;
    color: #B060FF;

    transition: background-color 0.3s ease , color 0.3s ease;
}

.main_service_button_center:hover {
    background-color: #B060FF;
    color: #fff;
}

.main_service_button_right {
    border: 3.56px solid #1FD7FF;
    color: #1FD7FF;

    transition: background-color 0.3s ease , color 0.3s ease;
}

.main_service_button_right:hover {
    background-color: #1FD7FF;
    color: #fff;
}


/**/
.main_bottom_container {
    max-width: 1300px;
    margin: auto;
    padding: 0 15px;
    margin-top: 50px;
}

.main_bottom_container p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;

}


@media (max-width: 1300px) {
    .menu_container {
        position: relative;
        top: 0;
        margin-top: 50px;
        right: 0;
    }
    .main_paragraph p  {
        margin-top: 50px;
    }
    .main_service_button_left {
        width: 100%;
    }

    .main_subs_container {
        justify-content: center;
        text-align: center;
        margin: auto;
        max-width: 100%;
    }
    .seoifn {
        display: none;
    }

}

@media (max-width: 429px) {
    .main_subs_inside button {
        width: 100% !important;
        margin-top: 30px;
    }
    .main_subs_button button {
        width: 100% !important;
    }
    .main_subs_box {
        width: 100%;
    }
    .main_subs_button_deactive {
        margin-left: 0px !important;
    }
}

@media (max-width: 840px) {
    .main_service_container {
        text-align: center;
        margin: auto;
        max-width: 840px;
        justify-content: center;
    }
    .main_service_box {
        width: 100%;
    }
    .main_service_box button {
        width: 100%;
    }
}


.main_subs_container {
    max-width: 500px;
    margin-top: 100px;
    padding: 0 35px;
}

.main_subs_box {
    justify-content: space-between;
    width: 100%;
}

.main_subs_box p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26.05px;
    color: #FFFFFF;
}

.main_subs_inside {
    justify-content: space-between;
}
.main_subs_inside button {
    width: 48%;
    height: 58px;
    border-radius: 21.39px;
    cursor: pointer;
    font-family: montserrat;
    font-size: 21.86px;
    background-color: #2929294D;
}

.main_subs_button_active {
    border: 2.67px solid #1F7AFF;
    color: #1F7AFF;

    transition: background-color 0.3s ease , color 0.3s ease;
}

.main_subs_button_active:focus {
    border: 2.67px solid #1F7AFF;
    
}

.main_subs_button_deactive {
    border: 2.67px solid #B5B5B5;
    color: #B5B5B5;


    transition: background-color 0.3s ease , color 0.3s ease , border 0.3s ease;
}

.main_subs_button_deactive:focus {
    border: 2.67px solid #1F7AFF;
}


.main_subs_button {
    margin-top: 100px;
    padding-bottom: 100px;
}

.main_subs_button button {
    width: 340px;
    height: 63px;
    border-radius: 21.88px;
    background-color: #1F7AFF;
    border: 2px solid #1F7AFF;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    font-family: montserrat;

    transition: background-color 0.3s ease;
}

.main_subs_button button:hover {
    background-color: inherit;
}




/*MODAL*/
.main_subs_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    animation: fadeIn 0.5s;
}

.main_subs_modal_content {
    background-color: #292929D6;
    margin: 6.9% auto; 
    padding: 20px;
    border: 3.99px solid #1F7AFF;
    width: 80%; 
    max-width: 564px;
    border-radius: 31.94px;
    animation: slideIn 0.5s;
}

.main_subs_modal_content p {
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 22.96px;

}

.main_subs_modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.main_subs_modal_close:hover,
.main_subs_modal_close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-300px);}
    to {transform: translateY(0);}
}
.main_subs_modal_input {
    padding-left: 30px;
    padding-right: 30px;
}

.main_subs_modal_input input {
    width: 90%;
    height: 56.03px;
    border-radius: 19.29px;
    background-color: #323232;
    color: #fff;
    border: 0px;
    font-size: 18.37px;
    font-family: Montserrat;
    padding-left: 30px;
    outline: none;

}

.main_subs_modal_button {
    padding-left: 10px;
    padding-right: 10px;
}

.main_subs_modal_button button {
    margin-top: 56px;
    width: 100%;
    height: 56.03px;
    background-color: #1F7AFF;
    border-radius: 19.29px;
    color: #fff;
    font-family: montserrat;
    font-size: 18.37px;
    margin-bottom: 50px;
    cursor: pointer;

    border: 3px solid #1F7AFF;

    transition: background-color 0.3s ease;
}

.main_subs_modal_button button:hover {
    background-color: inherit;
}


/***/


.menu_back_container {
    max-width: 377.67px;
    position: absolute;
    top: 100px;
    left: 30px;
}

.menu_back_button {
    width: 100%;
    border: 2.67px solid #1F7AFF;
    border-radius: 21.39px;
    cursor: pointer;
    color: #1F7AFF;
    padding: 20px 20px 20px 20px;
    font-family: Montserrat;
    background-color: #2929294D;
    font-size: 21.86px;
}

.main_subs_input {
    width: 100%;
    height: 63.56px;
    border-radius: 21.88px;
    background-color: #323232;
    border: 0px;
    outline: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 20.84px;
    padding-left: 30px; 
    box-sizing: border-box; 
}


.chat_container {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.chat_box {
    width: 100%;
}

.chat_button  {
    width: 49%;
    cursor: pointer;
    color: #1F7AFF;
    font-size: 22px;
    height: 83.72px;
    border-radius: 30.8px;
    font-family: montserrat;
    background-color: #2929294D;
    border: 3.85px solid #1F7AFF;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.chat_button:hover {
    background-color: #1F7AFF;
    color: #fff;
}



@media (max-width: 1015px) {
    .menu_back_container {
        display: none;
    }
    .chat_button {
        width: 100%;
    }
    .s {
        margin-left: 0px !important;
        margin-top: 50px;
    }
}




















.choice_container {
    max-width: 800px;
    padding: 0 30px;
}

.choice_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
}

.choice_box p {
    font-size: 26.05px;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0 30px 0 0; 
    flex: 1; 
}

.choice_buttons {
    display: flex;
    gap: 10px; 
}

.choice_active_button,
.choice_deaktive_button {
    width: 169px;
    height: 34.86px;
    border-radius: 12.86px;
    cursor: pointer;
    font-size: 13.14px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice_active_button {
    border: 1.61px solid #1F7AFF;
    color: #1F7AFF;
    background-color: #2929294D;
}

.choice_deaktive_button {
    border: 1.61px solid #B5B5B5;
    color: #B5B5B5;
    background-color: #2929294D;
}
#custom-input {
    width: 100%;
    max-width: 680px;
    height: 400px;
    top: 492px;
    left: 160px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #323232;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 20.84px;
    font-weight: 500;
    line-height: 25.4px;
    text-align: left;
    outline: none;
    resize: none; 
  }


.choice_btn {
    width: 235px;
    height: 63px;
    top: 918px;
    left: 160px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20.84px;
    font-weight: 500;
    line-height: 25.4px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    background-color: #1F7AFF;

    border: 3px solid #1F7AFF;

    transition: background-color 0.3s ease;
}

.choice_btn:hover {
    background-color: inherit;
}


@media screen and (max-width: 700px) {
    .choice_container {
      display: block;
    }
  
    .choice_box {
      flex-direction: column;
    }
  
    
    .choice_box p {
      margin: 0;
      margin-bottom: 10px;
    }
  
    #custom-input {
      max-width: 100%;
      width: 100%;
      margin-top: 20px;
    }
  
    .choice_btn {
      margin-top: 20px;
      width: 100%;
    }
}
  

@media screen and (max-width: 381px) {
  
    .choice_box button {
        width: 100%;
    }
    
}
  



.control_container {
    max-width: 100%;
    padding: 0 30px;
    margin-top: 100px;
    display: block;
}

.control_box{
    display: flex;
}

.control_inside {
    justify-content: space-between;
    width: 35%;
}

.control_inside_boxes p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 26.05px;
    font-weight: 500;
    line-height: 31.76px;
    text-align: left;
}


.control_button_active {
    width: 40%;
    height: 58px;
    gap: 0px;
    border-radius: 20px;
    border: 2.67px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18.86px;
    font-weight: 500;
    color: #1F7AFF;
    line-height: 26.65px;
    text-align: center;
    background: #2929294D;
    border: 2.67px solid #1F7AFF
}

.control_button_deactive {
    width: 40%;
    height: 58px;
    border-radius: 20px;
    border: 2.67px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18.86px;
    font-weight: 500;
    color: #B5B5B5;
    line-height: 26.65px;
    text-align: center;
    background: #2929294D;
    border: 2.67px solid #B5B5B5
}

.control_inside_boxes input {
    width: 100%;
    height: 58px;
    border-radius: 20px;
    border: 2.67px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18.86px;
    font-weight: 500;
    color: #B5B5B5;
    line-height: 26.65px;
    background-color: #323232;
    border: 0px;
    box-sizing: border-box;
    outline: none;
    padding-left: 30px;
}


.control_manual_box {
    width: 100%;
    height: 542px;
    margin-top: 50px;
    background-color: #323232;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 20px;
}

.control_manual_inside_box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 28px;
}


@media (max-width:1100px) {
    .control_inside {
        display: none;
    } 

}

.mobile_control_container {
    display: none;
}


@media screen and (max-width: 1100px) {
    .mobile_control_container {
        display: block;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        padding: 0 30px;
    }
    .mobile_btn {
        margin-top: 20px;
        width: 100%;
        height: 70px;
    }
    .control_inside_boxes svg {
        position: absolute;
        margin-top: 20px;
        margin-left: -40px;
    }
}


.control_send p {
    font-family: Montserrat;
    font-size: 26.05px;
    font-weight: 500;
    line-height: 31.76px;
    text-align: left;
    color: #FFFFFF;
}

#control_textarea {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #323232;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 20.84px;
    font-weight: 500;
    line-height: 25.4px;
    text-align: left;
    outline: none;
    resize: none; 
}

.control_send button {
    width: 235px;
    height: 63px;
    gap: 0px;
    border-radius: 21.88px;
    background: #1F7AFF;
    color: #fff;
    font-family: Montserrat;
    font-size: 20.84px;
    font-weight: 500;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
}






.control_sendModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.control_sendModalContent {
    background-color: #292929D6;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #1F7AFF;
    border-radius: 31px;
    width: 80%;
    max-width: 564px;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.control_sendClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.control_sendClose:hover,
.control_sendClose:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

/* Анимации */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}


.control_send_input {
    margin-left: 30px;
    margin-right: 30px;
}

.control_send_input input {
    width: 100%;
    height: 56.03px;
    border-radius: 19.29px;
    background-color: #323232;
    border: 0px;
    margin-top: 18px;
    outline: none;
    font-family: Montserrat;
    font-size: 18.37px;
    font-weight: 500;
    padding-left: 30px;
    box-sizing: border-box;
    text-align: left;
    color: #787878;

}


.control_send_button {
    margin-left: 30px;
    margin-right: 30px;
}

.control_send_button button{
    width: 100%;
    height: 56.03px;
    border-radius: 19.29px;
    background-color: #1F7AFF;
    border: 2px solid #1F7AFF;
    margin-top: 38px;
    outline: none;
    font-family: Montserrat;
    font-size: 18.37px;
    font-weight: 500;
    box-sizing: border-box;
    color: #ffffff;

    transition: background-color 0.3s ease;
}

.control_send_button button:hover {
    background-color: inherit;
}